@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.app {
  display: grid;
  gap: 1rem;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0 1rem 0.5rem 0;
  font-size: larger;
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.hello {
  margin-bottom: 1rem;
}

ol {
  padding-left: 0px;
}

.workout-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.workout-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.workout-details {
  display: flex;
  flex-direction: column;
}

.workout-user,
.workout-date {
  font-size: 0.9rem;
  color: #666;
}
.execution-details {
  margin-top: 0.5rem;
}

.execution-details h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.execution-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.25rem;
}

.execution-details li {
  font-size: 0.9rem;
  color: #333;
  margin-left: 0.5rem;
}

.table-container table th:first-child, .table-container table td:first-child {
  text-align: left;
}
.table-container table th, .table-container table td {
  text-align: center;
  padding: 5px;
}

 /* Media query for smaller screens */
 @media (max-width: 600px) {
  div {
    font-size: 1.1rem;
  }

  .table-container table th, .table-container table td {
    font-size: 1rem;
  }

  .workout-date {
    font-size: 1rem;
  }
 }
